@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container text-center pt-2">
        <div class="row justify-content-md-center">
            <div class="col col-lg-3">
                <div class="card text-bg-danger">
                    <div class="card-header">Sport</div>
                    <div class="card-body">
                        <h6 class="card-title">Toate sporturile</h6>
                        <ul class="text-center" style="list-style-type:none;padding:0;margin:0;">
                            <li>Fotbal</li>
                            <li>Tenis</li>
                            <li>Baschet</li>
                            <li>Handbal</li>
                            <li>Volei</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col col-lg-6">
                <div class="row">
                    <div class="col col-lg-6">
                        <div class="card text-bg-danger">
                            <div class="card-header">Promotii</div>
                            <div class="card-body">
                                <h6 class="card-title">Aici gasesti toate ofertele zilei!</h6>
                                <a class="link text-white" href="promotion.html">Alege oferta ta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6">
                        <div class="card text-bg-danger">
                            <div class="card-header">Aplicatie</div>
                            <div class="card-body">
                                <h6 class="card-title">Descopera aplicatia mobila!</h6>
                                <a class="link text-white" href="#">Instaleaza acum!</a>
                            </div>
                        </div>
                    </div>
                    <!-- Lista de meciuri -->
                    <div class="col col-lg-12 pt-3">
                        <table class="table caption-top">
                            <caption>Fotbal</caption>
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">1</th>
                                <th scope="col">X</th>
                                <th scope="col">2</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Real Madrid<br>Liverpool</th>
                                <td>2.3</td>
                                <td>3.8</td>
                                <td>2.9</td>
                              </tr>
                              <tr>
                                <th scope="row">Napoli<br>Eintracht F.</th>
                                <td>1.47</td>
                                <td>4.75</td>
                                <td>7.00</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table caption-top">
                            <caption>Tenis</caption>
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">1</th>
                                <th scope="col">X</th>
                                <th scope="col">2</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Real Madrid<br>Liverpool</th>
                                <td>2.3</td>
                                <td>3.8</td>
                                <td>2.9</td>
                              </tr>
                              <tr>
                                <th scope="row">Napoli<br>Eintracht F.</th>
                                <td>1.47</td>
                                <td>4.75</td>
                                <td>7.00</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table caption-top">
                            <caption>Baschet</caption>
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">1</th>
                                <th scope="col">X</th>
                                <th scope="col">2</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Real Madrid<br>Liverpool</th>
                                <td>2.3</td>
                                <td>3.8</td>
                                <td>2.9</td>
                              </tr>
                              <tr>
                                <th scope="row">Napoli<br>Eintracht F.</th>
                                <td>1.47</td>
                                <td>4.75</td>
                                <td>7.00</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card text-bg-danger">
                    <div class="card-header">Bilet</div>
                    <div class="card-body">
                        <h6>Evenimente: 2</h6>
                        <h6>Cota totala: 5.20</h6>
                        <h6>Miza: 20</h6>
                        <h6>Castig potential: 104</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
